.welcome-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    

    background-image: url(../images/about.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.abt_title{
    font-size: 30px;
    font-weight: 800;
}

@media (max-width:700px) {
    .rounded {
        width: 90%;
    }
}