.welcome-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


    background-image: url(../images/about.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.abt_title {
    font-size: 30px;
    font-weight: 800;
}


@media (max-width:1000px) {
    .rounded {
        width: 60%;
    }
}



@media (max-width:700px) {
    .rounded {
        width: 90%;
    }
}


.mission {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 10px;
}


.mission-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
    position: relative;
}


.vision-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
    position: relative;
}


/* .right-text {
    align-items: end;
    justify-content: right;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    color: #777;
    line-height: 28px;
    letter-spacing: 1px;
} */

/* .right-text.light {
    color: #fff;
}

.right-text p {
    margin-bottom: 30px;
}

.right-text p.dark {
    color: #3B566E;
} */

hr {
    margin: 0px;
}


.choose {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 30px;
}


.home-feature {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 0px;
    z-index: 9;
}



@media (max-width: 991px) {
    .home-feature {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 0px;
    }
}


.about-container img {
    border-radius: 20px;
    filter: blur(1px) brightness(0.4);
    margin-top: 30px;
}

.about-container {
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    transform: scale(1);
    transition:
        transform 1.1s cubic-bezier(.19, 1, .22, 1),
        filter .6s ease;

    will-change: transform;
}


.about-container:hover {
    cursor: pointer;
    /* transform: scale(1.12); */
    transform: scale(1.12);
    filter: brightness(1) contrast(1.2);
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

.about-title {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
}

.cta {
    background-image: url(../images/fun-facts-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background: linear-gradient(90deg, #6C63FF, #4f46e5); */
    text-align: center;
    /* border-radius: 20px; */
    padding: 60px 20px;
    margin: 30px 0 50px 0;
}

.cta h2 {
    font-size: 2rem;
    margin-bottom: 10px
}

.cta button {
    margin-top: 20px;
    padding: 14px 30px;
    border: none;
    border-radius: 30px;
    background: #ff589e;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: .3s
}

.cta button:hover {
    transform: scale(1.08);
    background: #8261ee;
}

.fade {
    opacity: 0;
    transform: translateY(40px);
    transition: all .8s ease
}

.fade.show {
    opacity: 1;
    transform: none
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px)
    }

    to {
        opacity: 1;
        transform: none
    }
}