.welcome-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.map-box{
    overflow:hidden;
    border-radius:18px;
    box-shadow:0 10px 40px rgba(0,0,0,.12);
}

.map-box iframe{
    display:block;
    width:100%;
    height:450px;
}

@media(max-width:768px){
    .map-box iframe{
        height:300px;
    }
}