.welcome-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: url(../images/service.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



/* Zoom Animation */
.rounded{
    overflow: hidden;
    position: relative;
    object-fit: cover;
    animation: zoomEffect 3.5s ease-in-out infinite;
}

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
/* Zoom Animation End */






@media (max-width: 1000px) {
    .welcome-area {
        height: 90vh;
        background-position: center top;
    }
}



@media (max-width:700px) {
    .rounded {
        width: 90%;
    }
}

@media (max-width:575px) {
    .welcome-area {
        height: 80vh;
    }

    .hr {
        display: none;
    }

    .service-row {
        border: 1px solid rgb(189, 186, 186);
        border-radius: 20px;
        margin: 2px;
    }
}