.welcome-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: url(../images/service.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


@media (max-width: 1000px) {
    .welcome-area{
        height: 90vh;
        background-position: center top;
    }
}


@media (max-width: 600px) {
    .welcome-area{
        height: 80vh;
    }
}


@media (max-width:700px) {

    .rounded {
        width: 90%;
    }

}

@media (max-width:575px) {

    .hr {
        display: none;
    }

    .service-row{
        border: 1px solid rgb(189, 186, 186);
        border-radius: 20px;
        margin: 2px;
    }


}