svg {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}

.links {
    /* position: fixed; */
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    font-family: sans-serif;
}

svg{
filter: blur(30px);
}


.welcome-area {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/Services.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  height: 100vh;
}