.logo {
    height: 70px;
    width: 70px;
}

.brandname {
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
}

.name {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 10px;
}


@media (max-width:700px) {
    .name {
        font-size: 30px;
    }
}

@media (max-width:520px) {
    .name {
        font-size: 27px;
    }

    .logo {
        height: 60px;
        width: 60px;
    }

    .brandname{
    margin-top: 10px;
}

}

@media (max-width:470px) {
    .name {
        font-size: 24px;
    }

    .logo {
        height: 55px;
        width: 55px;
    }

    .brandname{
    margin-top: 12px;
}
}

@media (max-width:400px) {
    .name {
        font-size: 17px;
    }

    .logo {
        height: 50px;
        width: 50px;
    }

    .brandname{
    margin-top: 15px;
}
}
