.logo{
    height: 70px;
    width: 70px;
   
}

.brandname{
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
}

.name{
    font-size: 35px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
     margin-left: 10px;
}


@media (max-width:700px) {
    .name {
        font-size: 30px;
    }
}

@media (max-width:520px) {
    .name {
        font-size: 27px;
    }
}

@media (max-width:470px) {
    .name {
        font-size: 24px;
    }
}