.logo {
    height: 70px;
    width: 70px;
}

.brandname {
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
}

.name {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 10px;
}


.mobile-img {
    display: none;
}


.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(250, 250, 250, 0.2);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.footer-brandname .logo {
    width: 25%;
    height: 25%;
}

.company-name {
    padding-top: 30px;
    align-items: center;
}

.brand-name {
    font-size: 21px;
    color: black;
}


.tagline {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.12rem;

}

.underline-tag {
    text-decoration: underline;
    text-decoration-color: rgb(115, 255, 0);
    text-decoration-thickness: 5px;
    text-underline-offset: 8px;
}

.reg {
    font-size: 15px;
    color: rgb(218, 216, 216);
}

.msme-img {
    width: 35%;
}

.footer-head {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    padding-top: 30px;
}

.footer-service {
    margin-top: 10px;
    margin-left: 10px;
}

.service-content {
    padding: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
}


.service-content:hover {
    color: rgb(115, 255, 0);
    font-weight: 500;
}




/* Contact */
.footer-contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-box {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;

}

.contact-box:hover {
    color: #000;
    font-weight: 500;
}

.contact-box i:hover {
    color: #fff;
    background: #ff589e;
}


.contact-box i {
    width: 38px;
    height: 38px;
    border-radius: 50px;
    background: #fff;
    color: #9d5bd9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}



.contact-box p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
    color: #ffffff;
}

.contact-box a {
    text-decoration: none;
    margin: 2px 0 0;
    font-size: 16px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-box a:hover{
    color: #000;
}



@media (max-width:1366px) {
    .welcome-area {
        margin-bottom: 30px;
    }
}




@media (max-width:1000px) {
    .mobile-img {
        display: block;
    }

    .pc-img {
        display: none;
    }

    .footer-row {
        display: block;

    }

    .footer-contact {
        display: block;

    }

    .contact-box {
        margin-top: 30px;
    }

}



@media (max-width:700px) {
    .name {
        font-size: 30px;
    }

    .rounded {
        width: 50%;
    }
}

@media (max-width:520px) {
    .name {
        font-size: 27px;
    }

    .logo {
        height: 60px;
        width: 60px;
    }

    .brandname {
        margin-top: 10px;
    }

    .rounded {
        width: 45%;
    }

}

@media (max-width:470px) {
    .name {
        font-size: 24px;
    }

    .logo {
        height: 55px;
        width: 55px;
    }

    .brandname {
        margin-top: 12px;
    }

    .rounded {
        width: 40%;
    }
}

@media (max-width:400px) {
    .name {
        font-size: 17px;
    }

    .logo {
        height: 50px;
        width: 50px;
    }

    .brandname {
        margin-top: 15px;
    }

    .rounded {
        width: 30%;
    }
}